---
import CardProject from "@/components/Projects/CardProject.astro"
import TitleSections from "@/components/TitleSections.astro"
import {projects} from "@/js/data"
---

<section id="proyectos" class="padd">
  <TitleSections title_section="Proyectos" />
  <div class="grid grid-cols-1">
    <p class="mb-8">Mis Proyectos más sobresalientes, si quieres ver más de mis trabajos te comparti mi link de github <b><a class="hover:underline" href="https://github.com/Marcos-Alvarez2004">https://github.com/Marcos-Alvarez2004</a></b></p>
      {projects.map((project) => (
        <CardProject 
          titleCard={project.titleCard}
          altImgCard={project.altImgCard}
          linkCard={project.linkCard}
          descriptionCard={project.descriptionCard}
          imgCard={project.imgCard}
          tagsTecnology={project.tagsTecnology}
        />
      ))}
  </div>
</section>

<style>
  a {
    color: var(--color-primary);
  }
</style>